@model LPR
<!doctype html>
<html>
<head>
    <title>Hello ASP.NET</title>
    <meta charset="utf-8" />
</head>
<body>
    <br />
    <form method="post" action="/Home/UpdateJudge">
        <label>Имя:</label><br />
        <input type="text" name="judgeName" value="@Model.LName" /><br /><br />
        <input type="hidden" name="LNum" value="@Model.LNum" />
        <input type="submit" value="Отправить" />
    </form>
</body>
</html>