@{
    ViewData["Title"] = "Home Page";
}
<!doctype html>
<html>
<head>
    <title>Hello ASP.NET</title>
    <meta charset="utf-8" />
</head>
<body>
    <br />
    <a class="btn btn-primary" href="/Home/AddJudge">Добавить оценщика</a>
    <a class="btn btn-primary" href="/Home/AddAlternative">Добавить альтернатив</a>
    <a class="btn btn-primary" href="/Home/AddCriterion">Добавить критерий</a>
    <a class="btn btn-primary" href="/Home/AddMark">Добавить оценку</a>
    <a class="btn btn-primary" href="/Home/AddVector">Добавить вектор</a>

    <form action="Home/EditJudge" method="post">
        <input type="hidden" value="1" name="LNum" />
        <input type="submit" value="testEdit" />
    </form>
</body>
</html>